[buildout]
develop = .
parts = python test
app-eggs = 
  mirror.pfg
  coverage

versions = versions

[versions]
SQLAlchemy = 0.5.8

[python]
recipe = zc.recipe.egg
eggs = ${buildout:app-eggs}
scripts = coverage
interpreter = python
       
[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:app-eggs}
defaults = ['-s', 'mirror.pfg']

